html {
	font-size: 62.5%;
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}
.contenedor {
	width: 95%;
	max-width: 120rem;
	margin: 0 auto;
}
body {
	font-family: $fuente_principal;
	background-color: $gris;
	font-size: 1.6rem;
	line-height: 1.8rem;
}

p {
	color: $blanco;
	font-size: 2rem;
}

a {
	text-decoration: none;
}

h1,
h2,
h3 {
	font-family: $fuente_principal;
	// margin: 2.5 0;
	font-weight: 300;
	// text-align: center;
	color: $blanco;
}

h1 {
	font-size: 3.8rem;
}
h2 {
	font-size: 3.4rem;
}
h3 {
	font-size: 3rem;
}
h4 {
	font-size: 2.6rem;
}
