@media screen and (max-width: 1000px) {
  .aboutme {
    margin-top: 8rem !important;
    width: 95%;
    max-width: 10rem;
    margin: 0 auto;
  }
  img {
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 768px) {
  .contenedor_h {
    margin-top: 1rem;
    a {
      margin: 1rem 0;
    }
    .navegacion {
      flex-direction: column;
    }
  }
  .contenedor_u {
    height: 100vh;
    p {
      margin-top: 1rem;
    }
  }
}
