@media screen and (min-width: 768px) {
	a {
		font-size: 3rem;
	}
	.contenedor_u {
		display: flex;
		flex-direction: row !important;
	}
	.titulo {
		padding: 0 5rem;
	}
	img {
		height: 40rem !important;
	}
	button {
		display: flex;
		width: 20rem !important;
		text-align: center;
		align-items: center;
	}
}
@media screen and (min-width: 768px) {
}
