.contenedor_d {
	display: block;
	.aboutme {
		margin-top: 20rem;
		text-align: center;
		max-width: 120rem;
		line-height: 3.3rem;
	}
	.iconos {
		margin-top: 7rem;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		.icono-individual {
			text-align: center;
			h3 {
				font-size: 2.5rem;
			}
			p {
				font-size: 2rem;
			}
		}
	}
}
